$containerSize: rem(1352px);

$primaryColor: #08A6E4;


$color-primary: #08A6E4;
$color-primary-shadow: rgba(7, 172, 230, .16);
$color-redish: #FB3B64;
$color-green: #55DFB4;
$color-black: #000000;
$color-white: #ffffff;
$color-grey: #A5A5A5;
$color-light-grey: #F7F7F7;
$color-pricing-type: #13253B;
$color-pricing-box-professional: #07ACE6;
$color-primary-shadow: #07ACE629;