@import "resetcss";
@import "functions";
@import "variables";
@import "header";
@import "openingsection";
@import "statistic";
@import "benefits";
@import "pricing";
@import "contact";
@import "footer";
@import "media";

main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

//@MEDIA TEST BACKGROUND OVERFLOW


//
//*{
//  background-color: #FB3B64;
//}
//
//main *{
//  background-color: gold;
//}